<ion-header>
    <ion-toolbar text-center>
      <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding *ngIf="this.choiveEv=='addim'">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          ID : {{modelId}}
        </ion-col>
        <ion-col text-center>
          <ion-button (click)="valideModal()">Valider</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="closeModal()">Retour</ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-label>Nom</ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-input class="input" [(ngModel)]="myname" #msg type='text'></ion-input>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    <input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />
    <ion-toolbar color="secondary">
      <ion-buttons>
        <button ion-button icon-left (click)="presentActionSheet(fileLoader)">
          <ion-icon name="camera"></ion-icon>Select Image
        </button>
        <button ion-button icon-left (click)="removePic()" [disabled]="uploadImage === null">
          <ion-icon name="trash"></ion-icon>Remove
        </button>
      </ion-buttons>
    </ion-toolbar>
  	<span *ngIf="uploadImage != null">
      <img id="checkinImage" [src]="uploadImage" #img (load)="imageLoaded()" />
    </span>
  	<span *ngIf="processing">
        <ion-spinner></ion-spinner>
        <h1>Processing...</h1>
    </span>
  </ion-content>

  <ion-content padding *ngIf="this.choiveEv=='deg'">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          ID : {{modelId}}
        </ion-col>
        <ion-col text-center>
          <ion-button (click)="valideModal()">Valider</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="closeModal()">Retour</ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-label>Description</ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-input class="input" [(ngModel)]="descdeg" #msg type='text'></ion-input>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    
  </ion-content>
